[submodule "ugv_sim"]
	path = ugv_sim
	url = https://github.com/Steve-Mr/ugv_sim.git
[submodule "robosense_simulator"]
	path = robosense_simulator
	url = https://github.com/Steve-Mr/robosense_simulator.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = https://github.com/Steve-Mr/pointcloud_to_laserscan.git
	branch = lunar-devel
[submodule "apiserver/scripts"]
	path = apiserver/scripts
	url = https://github.com/Steve-Mr/ros_nodejs_backend.git
[submodule "gazebo_ros_2Dmap_plugin"]
	path = gazebo_ros_2Dmap_plugin
	url = https://github.com/marinaKollmitz/gazebo_ros_2Dmap_plugin.git
[submodule "rf2o_laser_odometry"]
	path = rf2o_laser_odometry
	url = https://github.com/MAPIRlab/rf2o_laser_odometry.git
	branch = ros1
[submodule "map2gazebo"]
	path = map2gazebo
	url = https://github.com/simchanu29/map2gazebo.git
[submodule "hector_slam"]
	path = hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "slam_karto"]
	path = slam_karto
	url = https://github.com/ros-perception/slam_karto.git
