[submodule "ugv_sim"]
	path = ugv_sim
	url = https://github.com/Steve-Mr/ugv_sim.git
[submodule "robosense_simulator"]
	path = robosense_simulator
	url = https://github.com/Steve-Mr/robosense_simulator.git
[submodule "apiserver/scripts"]
	path = apiserver/scripts
	url = https://github.com/Steve-Mr/ros_nodejs_backend.git
[submodule "gazebo_ros_2Dmap_plugin"]
	path = gazebo_ros_2Dmap_plugin
	url = https://github.com/marinaKollmitz/gazebo_ros_2Dmap_plugin.git
[submodule "rf2o_laser_odometry"]
	path = rf2o_laser_odometry
	url = https://github.com/Steve-Mr/rf2o_laser_odometry.git
	branch = ros1
[submodule "map2gazebo"]
	path = map2gazebo
	url = https://github.com/Steve-Mr/map2gazebo.git
[submodule "hector_slam"]
	path = hector_slam
	url = https://github.com/Steve-Mr/hector_slam.git
[submodule "slam_karto"]
	path = slam_karto
	url = https://github.com/Steve-Mr/slam_karto.git
[submodule "realsense_ros_gazebo"]
	path = realsense_ros_gazebo
	url = https://github.com/Steve-Mr/realsense_ros_gazebo.git
